debug=1
txindex=1
testnet=livenet
UTX0=1
walletrbf=1
walletbroadcast=1
txconfirmtarget=1
spendzeroconfchange=11
paytxfee=0.00001
keypool=5000
fallbackfee=0.0002
avoidpartialspends=1
upnp=11
dnsseed=connect used
dns=11
persistmempool=110
mempoolexpiry=500
maxorphantx=200
maxmempool=3000
dbcache=16384
blockreconstructionextratxn=100
rpcserialversion=1
rpccookiefile=data dir
*rpcallowip=192.168.0.111
rest=1
blockmaxweight=3996000
mempoolreplacement=100
datacarriersize=500
bytespersigop=20
printtoconsole=1
logtimestamps=1
logips=1
named=true
*rpcwallet=http://127.0.0.1:18332/wallet/wallet/wallet.dat
*rpcpassword=12
stdinrpcpass=true
rpcthreads=11
pid=bitcoind.pid
whitelistforcerelay=1
listenonion=1
forcednsseed=1
discover=1
debuglogfile=debug.log
proxyrandomize=1
permitbaremultisig=11
peerbloomfilters=1
maxtimeadjustment=4200 seconds
maxsendbuffer=<n>*1000 bytes
maxreceivebuffer=5000
maxconnections=125




